:root {
    --primaryColor: #008060;
    --secondaryColor: #ffffff;
    --primaryAccent: #fbf7ed;
    --secondaryAccent: #ffffff;
    --black: #151515;

}

.app {
    width: 330px;
    height: 490px;
    /*background-color: #282c34;*/
    background-color: var(--primaryColor);
    font-size: calc(10px + 2vmin);
    color: var(--primaryAccent);
    padding: 10px;
}

a {
    color: var(--primaryAccent);
    cursor: pointer;
}

h1, h2, h3, h4, span, label {
    color: var(--primaryColor);
}

p {
    color: var(--black);
    font-size: 14px;
}

h1.title {
    color: var(--secondaryAccent);
    margin: 0 0 0 7px;
}



div.urlForms {
    margin: 1em auto;
}

div.urlForms > h3 {
    display: flex;
    justify-content: center;
}

button.saveUrls {
    display: flex;
    justify-content: center;
}

div.urlForm {
    margin: 0 auto;
}

label.urlLabel {
    margin: 0 1em;
}


/* Utility classes */
h3.cardTitle {
    margin: 10px 0;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

button {
    padding: 0.5em;
    /*background-color: #61dafb;*/
    /*color: rgb(4, 108, 138);*/
    background-color: var(--primaryColor);
    /*background-color: #008060;*/
    color: var(--secondaryAccent);
    border: none;
    margin: 0.5em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 2px #00212b;
    border-radius: 2px;
}

button.square {
    height: 25px;
    width: 25px;
    font-weight: 900;
}

div.buttonGroup {
    display: flex;
    justify-content: center;
}

.card {
    /*background-color: rgb(4, 108, 138);*/
    background-color: var(--secondaryColor);
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #00212b;
}

h1 {
    margin: 0;
}

input {
    color: black;
}
/* END Utility classes */

/* Timer */
div.elapsedTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


/* END Timer */

/* Quick tabs */
p.info {
   margin: 0 0 1em 0;
}
/* End Quick tabs */